@import "purecss/build/base-min.css";
@import "purecss/build/pure-min.css";
@import "purecss/build/grids-responsive-min.css";

body {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  min-height: 250px;
  background-color: rgba(150, 150, 150, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  overflow: hidden;
}

ol {
  margin-bottom: 24px;
}

.pure-u-1-2 {
  padding: 20px;
}

#preview-el {
  padding: 0 40px;
}

.button-warning {
  background: #f39a2d;
  color: white;
  margin-bottom: 16px;
}

.warning {
  color: #ec7063;
  font-size: 14px;
  line-height: 25px;
}

/** Accordion menu */
.accordion.pure-menu-list li > input {
  display: none;
}
.accordion.pure-menu-list li > label.pure-menu-link {
  text-align: left;
  display: block; 
  width: 100%;
  cursor: pointer;
  background-color: #eee;
}
  .accordion.pure-menu-list li > label.pure-menu-link:after {
    content: '\02795';
    font-size: 13px;
    float: right;
    color: #777;
    margin-left: 5px;
  }
.accordion.pure-menu-list li > .content {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in;
}
.accordion.pure-menu-list li article {
  padding: 16px;
  box-sizing: border-box;
}
/** Accordion menu - Active **/
.accordion.pure-menu-list li > input:checked ~ label.pure-menu-link {
  color: #fff;
  background-color: #409cd1;
}
  .accordion.pure-menu-list li > input:checked ~ label.pure-menu-link:after {
    content: "\2796";
    color: #fff;
  }
.accordion.pure-menu-list li > input:checked ~ .content {
  height: auto;
}
